[2021-01-08 09:22] l00mi opened #1 "Evaluate IIIF Server"
- [x] @PlekszyGladz provides a test set of assets.
- [x] Evaluate an adapted Sever for the AMOS Use-Case providing https://iiif.io/ functionality.

[2021-01-08 09:22] ktk commented on #1
Reference https://github.com/IIIF/awesome-iiif

[2021-01-08 09:31] l00mi opened #2 "Export AIS System"
- [x] Provide credentials and a space for a manual CSV Export of the AIS.
- [x] CSV export of AIS are provided by the customer to a private Repository.

[2021-01-08 09:40] l00mi opened #3 "Create Pipeline for AIS"
- [x] Use Record in Context [https://www.ica.org/standards/RiC/ontology.html] as Ontology for the Mapping.
- [x] Create Pipeline which writes into the Zazuko Test Endpoint.

[2021-01-08 09:41] l00mi opened #4 "Define Namespace with Customer"
- [x] Define Namespace (e.g. data.*customer*.ch )
- [x] Customer adds Sub-Domain pointing with CNAME to ld.zazuko.com.

[2021-01-08 09:46] l00mi opened #5 "Investigate Access of Library Data"
- [x] Get the data related to PTT-Archive from SLSP

- [ ] Investigate who the relevant Library Data as Linked Data can be either directly access or copied to endpoint from SLSP under customers control.

[2021-01-08 09:49] l00mi opened #6 "Access Museums Data"
Museums Data is held in a Relational Database (currently in migration). Once this migration is settled the data model and a potential ontology will be evaluated.

[2021-01-08 09:57] l00mi opened #7 "Workshop to discuss UX Concept for Searching and Exploring of Data"
Propose a first UX concept to access the AIS data.
- [x] Define a Date for the Workshop
- [x] Collect and identify all available information data points.
- [x] Identify the connection to Multimedia Assets.
- [x] Reiterate the priority of data points to provide to the end-user.
- [x] Identify typical user tasks.
- [ ] Reflect on the integration of future data types coming from the Library and Museu

[2021-01-08 10:00] l00mi opened #8 "First minimal adaptation of alod.ch without input of UX Workshop."
First minimal adaptation of the already present Zack-Search codebase to show the AIS Data.

[2021-01-08 10:13] l00mi commented on #7
- 2x2h Meeting (Michael Adrian)
- 2x2h Preparation, Debriefing

[2021-01-08 10:14] l00mi commented on #8
- 8h Adaption to new Datamodel

[2021-01-08 10:15] l00mi commented on #4
- 2h Discussions

[2021-01-08 10:15] l00mi commented on #3
- 8h Set-Up, Explanations, XRM

[2021-01-08 10:16] l00mi commented on #2
- 1h Set-Up GitLab and Exchange

[2021-01-08 10:18] l00mi commented on #1
- 16h Evaluation

[2021-01-08 10:19] l00mi opened #9 "Set-up an IIIF Server"
- [x] Create a test instance in the Zazuko Cloud.
- [x] Transcode one Video to get the compression factor.

[2021-01-08 10:19] l00mi commented on #9
8h

[2021-01-08 10:23] l00mi commented on #1
@ktk checks with Quentin/Ludovic.

[2021-01-13 20:38] ktk commented on #1
Requirements:

* Images
* PDF (not even sure if part of the spec)
* Video might come in the future, not a requirement right now though
* Annotations should be available in RDF (JSON-LD or alike)

[2021-01-19 09:59] ktk commented on #2
@PlekszyGladz do we have some data already?

[2021-01-19 15:04] PlekszyGladz commented on #1
If possible, yes (mainly because of OCR-Fulltext)

[2021-01-19 15:08] l00mi commented on #1
Uh, okay but here we need to be careful with the expectations. If there is Fulltext which we like to search, it definitely needs also to go to the RDF Store.

So lets also collect the requirements about __what__ we want to do with the PDF.

[2021-01-19 15:40] PlekszyGladz commented on #1
Primarily there are 4 requirements for PDFs. I listed them by priority (from most to least important):

- Displaying images of PDF
- Searching OCR fulltext within one PDF document (as in a regular PDF reader)
- Copying and pasting text from the PDF
- Searching fulltext of all documents (while this is very desirable, I am aware that this may be non trivial)

[2021-01-24 09:44] l00mi commented on #2
Ready https://gitlab.zazuko.com/amos/amos

[2021-01-25 13:01] PlekszyGladz commented on #2
I pushed the first exported CSV from the AIS here --> https://gitlab.zazuko.com/amos/amos/-/commit/b4b17141792d15154d3bf8adc97ce0d45dbe38a6 (on branch 'dev' because 'master' is protected)

[2021-02-09 15:07] l00mi commented on #1
* Image API
  * Request Different Versions of the original Image (thumbnails, etc ...)
* Presentation API (Stateless)
  * JSON-LD documents (-> Linked Data)
  * Annotations (Boxes, Links)
  * Metadata

Most tools do support the Image API, Presentation API is use-case/domain specific.

IIIF Server: https://cantaloupe-project.github.io/ (Open Source)
* Caching Layer
* S3 compatible (a standard big f

[2021-02-09 15:37] l00mi opened #10 "Create IIIF Presentation API Manifest"
- [x] Create Manifest (potentially from Records in Context)
- [x] Check how to import OCR in Manifest

[2021-02-09 15:37] ktk commented on #1
[Wikipedia](https://en.wikipedia.org/wiki/University_of_Illinois/NCSA_Open_Source_License) about the University of Illinois/NCSA Open Source License: Seems to be MIT/BSD like which is great. No restrictions according to Wikipedia.

[2021-02-09 15:41] l00mi commented on #1
Example with text-overlay: https://mirador-textoverlay.netlify.app/

[2021-02-09 15:44] l00mi commented on #2
* Sprachen korrektes Mapping?

[2021-02-09 15:46] l00mi commented on #3
* Sprachen korrektes Mapping?

[2021-02-09 15:51] l00mi opened #11 "Integrate date transformation in the pipeline"
- [x] Check and understand the date ArchScope format.
- [x] Integrate necessary steps in pipeline.

[2021-02-09 15:52] l00mi opened #12 "Check for correct mapping of languages in the pipeline."
8h

[2021-02-09 15:54] #1 closed, assigned to ktk, PlekszyGladz

[2021-02-09 15:54] #2 closed, assigned to l00mi, PlekszyGladz

[2021-02-09 15:55] #3 closed, assigned to ktk

[2021-02-09 15:57] l00mi commented on #11
16h

[2021-02-10 08:38] l00mi commented on #11
For reference https://github.com/zazuko/alod-data/issues/1

[2021-02-10 08:39] l00mi commented on #11
@ktk I can't find the description of the ArchScope Date "Schema" do you have it somewhere? (I remember a picture of all possible syntax.)

[2021-02-16 10:21] ktk commented on #11
I uploaded a PDF description here: [datumsangaben_scope.pdf](https://github.com/zazuko/amos/files/5987848/datumsangaben_scope.pdf)

[2021-02-18 10:24] magdasalatka commented on #11
This repo is empty. Which piplenie are we talking about?

[2021-02-18 10:37] ktk commented on #11
@magdasalatka pipeline is here https://gitlab.zazuko.com/amos/amos

[2021-02-24 07:00] l00mi commented on #4
@PlekszyGladz habt ihr hier schon eine Idee? Wollen hierzu ein kleines Meeting ansetzten, um die möglichen Varianten und damit verbunden Abklärungen aufzulisten?

[2021-03-02 13:47] PlekszyGladz commented on #4
@l00mi @ktk am Besten scheint mir `data.ptt-archiv.ch` als Namespace zu sein. Die Domain gehört uns bereits, müssten aber bei der Subdomain noch den Alias-Eintrag machen.

[2021-03-02 13:56] l00mi commented on #4
Gekauft! Bitte einen Eintrag mit CNAME von `data.ptt-archiv.ch` auf `data-ptt-archiv-ch.zazuko.net` veranlassen.

[2021-03-02 14:12] l00mi commented on #4
@sandhose can you do the necessary on our side.

[2021-03-02 15:40] PlekszyGladz commented on #12
- At the moment the exported language string is mapped in XRM to `example:laguages`
- Multiple laguages can be inside a single string either delimitted by ` / ` or a line-break char (e.g. `Deutsch / Französisch / Englisch` or `Deutsch&#xaFranzösisch&#xaItalienisch`
- The goal is that each of these languages (as Class [rico:Language](https://www.ica.org/standards/RiC/RiC-O_v0-2.html#Language)) is l

[2021-03-09 12:33] l00mi commented on #4
Works https://data.ptt-archiv.ch/

[2021-03-09 14:24] l00mi commented on #9
Check out the client https://iiif-client.zazukoians.org/

[2021-03-09 14:25] l00mi commented on #9
Video is not working well with IIIF as of today. We will investigate Video again later in the project.

[2021-03-09 14:30] l00mi opened #13 "Building Manifest Files for IIIF for the available Image Resources"

[2021-03-09 14:31] #9 closed, assigned to sandhose

[2021-03-09 14:31] #11 closed, assigned to magdasalatka

[2021-03-09 14:34] #4 closed, assigned to nobody

[2021-03-09 14:45] ktk opened #14 "Create a SPARQL query to fetch image metadata"
So we know what we have and how we can continue for the IIIF manifests.

[2021-03-09 14:47] ktk commented on #14
1h

[2021-03-09 14:47] l00mi opened #15 "Extract Text from OCR annotated PDFs."
16h

- [x] Nicolas provides an example
- [x] Quentin analyses provides an example

[2021-03-09 15:08] PlekszyGladz commented on #14
An example of an Record with attached Images (via `rico:Instantiation`) can be found here: https://data.ptt-archiv.ch/archive/record/205575

[2021-03-15 13:40] PlekszyGladz commented on #15
3 main specs for OCR in PDFs (the genereal Idea is mentioned here: https://github.com/zazuko/amos/issues/1#issuecomment-762925741):
- Inside the IIIF-Viewer: Fulltext search for a whole document (document = images in one IIIF-Manifest)
- Inside the IIIF-Viewer: Mark text by click and drag and copy-paste it
- Searching fulltexts of all available documents in RDF.

At the moment the first and second

[2021-03-22 12:13] ktk opened #16 "Implement filter to split <http://example.org/fileNames>"
This is currently one large string and should become a set. Also find a better property.

[2021-03-22 12:20] ktk commented on #14
We need to split the fileName see #16

[2021-03-22 12:20] ktk commented on #14
WIP SPARQL Query: https://s.zazuko.com/HanFw

[2021-03-22 12:21] ktk commented on #16
@magdasalatka could you add a map step that splits that? And while you are at it, this should be very similar to #12

[2021-03-22 12:29] ktk commented on #12
The output should look somewhat like this pseudo Turtle:

[code]

[2021-03-22 12:40] ktk opened #17 "Empty fields are not recognized as empty"

[2021-03-22 12:45] PlekszyGladz commented on #17
Null-values in `sources_scope.csv` are represented as empty cell, i.e. `,,`

[2021-03-22 16:24] PlekszyGladz commented on #5
- Records in SLSP from PTT-Archiv/MfK can be easily exported and donloaded from the SLSP-Backend as RDA/RDF
- RDF of the library data cannot be accessed directly and needs to be copied to the endpoint
- If needed, this can be automated later on (Export would be uploaded via FTP). But exports are anyways only be necessary a couple of times a year
- Example of exported records can be found in the fo

[2021-03-30 10:14] sandhose commented on #15
I've worked on it quite a bit, this is what I found so far.

- the best bet to parse PDFs in a JS environment seems to be [PDF.js](https://www.npmjs.com/package/pdfjs-dist) by Mozilla
- extracting words seems fine, extracting lines and paragraphs seems a lot harder
- the quality of the OCR data in provided PDFs is kinda inconsistent
- parsing ~1150 pages takes about a minute on my host, seems to b

[2021-03-30 11:09] l00mi commented on #5
* RDF/XML https://www.w3.org/TR/rdf-syntax-grammar/

[2021-03-30 11:11] l00mi commented on #12
Adding test to finish. After this its merged and will be reflected in the data.

[2021-03-30 11:12] l00mi commented on #16
Similar to #12

[2021-03-30 11:13] l00mi commented on #17
Seemed to be a typo in the IRI.

[2021-03-30 11:17] l00mi commented on #17
Check also with instatation. e.g. https://data.ptt-archiv.ch/archive/record/209236

[2021-03-30 11:21] l00mi commented on #8
* 1 h Fix the Dates

[2021-03-30 11:24] l00mi commented on #14
solved in #16

[2021-03-30 11:24] #14 closed, assigned to ktk, PlekszyGladz

[2021-03-30 11:36] l00mi commented on #15
## examples
### OCR Phonebook Example (Abby Software) -> looks good

### OCR From Scanner (OmniScan Software) ->  difficult as letters are saved, not words
<img width="1032" alt="Screenshot 2021-03-30 at 13 38 00" src="https://user-images.githubusercontent.com/502518/112982807-36a98f00-915d-11eb-9c3d-52a6b2810264.png">

## used hours
* 10h until now used
* takes ~5h more ?

[2021-03-30 11:44] l00mi commented on #15
The exported data will only used inside the IIIF manifest for now, and is not searchable or accessible through the triple store.

[2021-03-30 12:46] PlekszyGladz commented on #17
Example of record with `rico:hasInstantiation` denoted by seperate AIP-identifier (this is how it should be):
https://data.ptt-archiv.ch/archive/record/205575

Example of record that should not have any `rico:hasInstantiation` as there is no AIP-Identifier present in sources.csv:
https://data.ptt-archiv.ch/archive/record/205611

[2021-03-31 08:04] #16 closed, assigned to magdasalatka

[2021-04-06 03:23] ktk commented on #17
Ok the reason for that is:

[code]

ID is never empty so it creates the IRI anyway. And according to the spec I would say that is correct behavior https://www.w3.org/TR/2015/REC-tabular-metadata-20151217/#uri-template-properties

[2021-04-06 09:41] PlekszyGladz commented on #17
@ktk I see. Would the same be true, if we changed the url template for instantioation as follows:
`https://data.ptt-archiv.ch/archive/instantiation/{AIP-Referenz}`
so that there is no instantiation linked, when there is no `AIP-Referenz`?

If so, i can reflect these changes in the mapping.

[2021-04-06 09:43] ktk commented on #17
@PlekszyGladz yes that would work, the other option is I add a filter to the pipeline that deletes those triples. It's quite easy to detect.

[2021-04-08 07:42] PlekszyGladz commented on #17
I updated the URL-pattern as proposed, wich works well in the cases with an exisitng `AIP-Referenz`. All the other records are now linked with this single generic instantiation: https://data.ptt-archiv.ch/archive/instantiation/

The problem seems to be, that a few records have linked files but no AIP-Referenz. As we do not intend to do long term preservation of these files, this is intended.

So i

[2021-04-08 09:28] ktk commented on #17
Not sure I understand that, can you give an example IRI?

[2021-04-08 09:29] ktk commented on #12
I merged this to dev. Can be tested

[2021-04-08 12:32] PlekszyGladz commented on #17
Sorry got carried away thinking while writing...

Can you implement a Filter in the pieline:
- that removes this instantiation: `https://data.ptt-archiv.ch/archive/instantiation/`.
- Also triples linking records with this instantiation need be removed (i.e. those matching this statement `?sub rico:hasInstantiation <https://data.ptt-archiv.ch/archive/instantiation/> .`)

[2021-04-08 12:39] PlekszyGladz commented on #12
Just checked it. Seems to work perfectly!

[2021-04-13 10:37] l00mi commented on #8
* Time is correctly shown. (there are two outliers in both directions)
* Histogram is correctly shown, filter is not working, will need rewriting of some code investigation.

[2021-04-13 10:38] #12 closed, assigned to magdasalatka

[2021-04-13 13:11] #8 closed, assigned to l00mi

[2021-04-13 13:15] l00mi commented on #5
@PlekszyGladz Contacted SLSP, no answer yet.

[2021-04-13 13:17] l00mi commented on #17
@ktk and @PlekszyGladz will have a meeting to solve this one.

[2021-04-13 13:28] l00mi commented on #15
@sandhose Injected the OCR annotations as WebAnnotations in the Manifest. This allows the overlay in the Mirador Viewer.

For search we need a separate Search API Server. The Manifest would need to have the information where the Search API Server is.

Only client side search in viewers seem not to be available, for bigger documents the manifest will be a problem to be loaded.

Check for a potentia

[2021-04-13 13:37] l00mi opened #18 "Change Detail Screen"
@sandhose and @l00mi and @ktk discuss the best integration of this.

- [ ] Create a new https://github.com/zazuko/trifid-renderer-simple/ for ptt-archive, bundled with mirador and integrate in trifid
- [x] adapt the rendering to CI and use mirador if manifest is present

8h

[2021-04-30 11:07] ktk commented on #17
Filter all triple where either subject or object IRI is `https://data.ptt-archiv.ch/archive/instantiation/`

[2021-05-05 15:29] ktk commented on #17
I've added a new filter: https://gitlab.zazuko.com/amos/amos/-/blob/8020158d06e2375faa045bf7127650282364e196/lib/output-filter.js#L15-20

[2021-05-07 08:58] l00mi commented on #7
# Topics

① difficult
② intermediate
③ easy

## Inputs which are in the heads of the Archival Staff
- Global Context of the PTT Archive: Post yes, Swisscom no (except some yes) ②
- Schutzfristen will be shown to the end-user ③
- Information to be added to the description ②
  - Links to other Archives, Museums on the Hierarchy ①
  - Links between the Hierarchy
  - Show clearly the description of th

[2021-05-11 12:35] PlekszyGladz commented on #5
According to SLSP the "RDA/RDF" export is correct. But we are investigating further, if there are possibilities to properly export serialized RDF.

[2021-05-11 13:26] #17 closed, assigned to ktk, PlekszyGladz

[2021-05-11 13:26] #15 closed, assigned to sandhose

[2021-05-11 13:43] #7 closed, assigned to PlekszyGladz

[2021-05-11 13:48] PlekszyGladz commented on #10
8h

[2021-06-01 12:19] l00mi commented on #10
Methods to create Manifest
1. Generate triples for the manifest from PDF and TIFFS (mini pipeline from imageserver)
2. Generate triples from the Scope Pipeline (https://gitlab.zazuko.com/amos/amos)
3. Expose the manifest through a trifid handler.

[2021-06-01 12:26] l00mi commented on #18
@sandhose tells me which triple gives the
* information to give Mirador which in turn can query the manifest.
* the link to directly show a thumbnail.

[2021-06-01 12:31] l00mi commented on #18
https://github.com/ProjectMirador/mirador/blob/master/__tests__/integration/mirador/index.html

[2021-06-07 13:20] PlekszyGladz opened #19 "Compact Listing of Search Results"
Add some toggle button to activate/deactivate compact view.
Display listed search results with only minimal information, i.e. hide all info except the following:
- Signatur
- Title
- Author (Library only)
- Year

[2021-06-07 13:20] PlekszyGladz opened #20 "Edit Design to match PTT-Archiv/MfK CI"
8h

[2021-06-07 13:21] PlekszyGladz opened #21 "Order Process from the Interface"
List of Records are orderable by clicking the “In den analogen Lesesaal bestellen”-Button.
Minimal additional Information that is required by the user to complete the order:
- Organisation
- Name*
- Address*
- Zip-Code* and Place*
- Country*
- Email*
- Telephone
- Preferred Date of loan*
-
Clicking “senden” triggers an Email to archiv@mfk.ch containing the listed records and the above information.

[2021-06-07 13:22] PlekszyGladz opened #22 "Sorting Types of Works in mixed Query Results"
Ability to sort the search results by Books, Archive Records, etc.

[2021-06-07 13:23] PlekszyGladz opened #23 "Boosting some Works in Query Results"
Create a list (by archive/museum staff) of entries (mostly books) that will always show on top of search results (when matching the query).

Curate Triples with the catalog of boosted works to be statically added to the pipeline:

- [ ] Decide on specifically what to boost (@PlekszyGladz)
- [ ] Specify, how to implement this semantically (@ktk @PlekszyGladz)
- [ ] Implement this in the Pipeline (@

[2021-06-07 13:23] PlekszyGladz opened #24 "Query Expansion for Places"
Match different versions of the same place name (e.g. Genf <-> Geneva <-> Genève or Rapperschwyl <-> Rapperswil) using ortsnamen.ch

[2021-06-07 13:24] PlekszyGladz opened #25 "Possibility to create Lists from Search Results"
- Records can be added to a list of favourites by clicking a Button next to each search result.
- Results can be filtered by favourites.
- Users can add additional information (for private use) to items in the favourites (like alternative Names for the record, page reference, small “exzerpt” = short description of the content).

[2021-06-07 13:25] PlekszyGladz opened #26 "Export of Bibliographical Information"
Only for library data.
- Copy citation to clipboard
- BibTeX
- EndNote
- Mendeley
- Citavi

[2021-06-07 13:25] PlekszyGladz opened #27 "Overhaul Display of Entries in Search"
Display terms of protection for archival records. Users should always see, if a record is still protected (and for how long).

[2021-06-07 13:25] PlekszyGladz opened #28 "Include Terms of Protection in Mapping"
Map “Schutzfrist” und “Schutzfristenende” from Scope in the AIS pipeline.

[2021-06-07 13:26] PlekszyGladz opened #29 "Display Description of Parent Hierarchy"
Does only apply to archival Data. When showing details of a records, also display [Form und Inhalt](https://www.ica.org/standards/RiC/RiC-O_v0-2.html#scopeAndContent) from parent hierarchy, as the description of the lowest hierarchy can be to specific

[2021-06-07 13:29] PlekszyGladz opened #30 "Important Input and Context Information for Users"
Display global Context of the PTT Archive und MfK to the users (time frame of archived documents, organisational background of PTT, Post, Swisscom and the Archive/Museum)

[2021-06-07 13:29] PlekszyGladz opened #31 "Suggestions of Documents other Users also looked at"

[2021-06-07 13:30] PlekszyGladz opened #32 "Hide Documents that are marked as read"
Let users mark dossiers as read an the hide them from query results. (Maybe this should be tackled here #25)

[2021-06-07 13:30] PlekszyGladz opened #33 "General Query Expansion"
- Detect similar written Terms (phonetically like Photo <-> Foto), or synonyms (Fourgon <-> Gepäckwagen).
- The PTT-Archive has an (incomplete) list with terms that could be treated as the same.

[2021-06-07 13:31] PlekszyGladz opened #34 "Link to available Scans of Books"
Some Works in our Library are available as scans at other institutions. A direct Link should be provided to these resources (e.g. [Comtec on e-periodica](https://www.e-periodica.ch/digbib/volumes?UID=cmt-004))

[2021-06-07 13:31] PlekszyGladz opened #35 "Feedback/Tagging of Entries by “public”"
Allowing feedback, open (texts) or closed (tagging) on Entries, by public or registered or known actors (also proposing people for specific knowledge, e.g. on Postautos).

[2021-06-08 13:12] PlekszyGladz opened #36 "Meeting with Tobias Wildi for SLSP"
Discuss how to best integrate/copy Library Data from SLSP to the triplestore (either use exported pseudo-RDF/XML or go from CSV)

[2021-06-08 13:41] PlekszyGladz commented on #18
8 h

[2021-06-08 13:45] PlekszyGladz commented on #23
1 h

[2021-06-08 14:22] #5 closed, assigned to PlekszyGladz

[2021-06-22 13:08] PlekszyGladz opened #37 "Convert EXLIBRIS to Triples"
8h

[2021-06-22 13:09] #36 closed, assigned to ktk, PlekszyGladz

[2021-06-22 13:21] #10 closed, assigned to sandhose

[2021-06-22 13:58] PlekszyGladz commented on #19
8h

[2021-06-22 13:58] PlekszyGladz commented on #27
24h

[2021-06-22 13:58] PlekszyGladz commented on #25
24h

[2021-06-30 13:32] l00mi commented on #18
@PlekszyGladz we are ready so far to scale up the amount of Files. How could we proceed to test with more data the overall pipeline?

[2021-07-07 08:59] PlekszyGladz commented on #18
I could provide about 50 more samples of "Poststellenchroniken" that are also in the current dataset. Should I pack them an send you a sharepoint-link or should I upload them directly to your storage? (The latter is probably easier).

@l00mi You can dm me on zulip to discuss the details.

[2021-07-13 13:00] ktk commented on #37
Available in: https://s.zazuko.com/3JM8V

[2021-07-13 13:03] ktk commented on #37
It is *almost* RDF/XML but it lacks the proper beginning/end:

[code]

The outer container of the file has to be thrown away.

[2021-07-13 13:22] #37 closed, assigned to ktk

[2021-07-13 13:24] l00mi opened #38 "Implement Library Data Pipeline"
- [x] Understand the fetching on a technical level.
- [x] What to transform and change in the data?
- [x] Check completeness of dump.
- [x] Integrate S3 data access.
8h

[2021-07-13 13:35] l00mi opened #39 "Create offer for storage of ~10 TB image data"

[2021-07-13 13:36] l00mi commented on #39
Starting with 1.5TB

[2021-07-13 13:37] l00mi commented on #39
50$ per tb

[2021-07-16 15:51] l00mi commented on #25
As a first step are the lists stored in the Users Browser in the localStorage. In a second which is dependent on a user login facility, this lists can be persisted on the server side.

[2021-08-17 12:22] l00mi commented on #28
ready, waiting on the last export

[2021-08-17 12:23] #19 closed, assigned to tpluscode

[2021-08-17 12:29] #39 closed, assigned to sandhose

[2021-08-17 13:13] l00mi commented on #27
* Signatur ricoIdentifier
* Name / Title
* scopeAndContent -> 1-2 Zeilen
* zugang (badge/icon wenn noch nicht zugänglich) -> conditionsOfAccess
* Provenienz (aus hierarchie) -> Materialisiern
* hiddenField -> Tektonik
* tektonik -> aufklappbar mit signaturen und scopeandcontent
* date -> von / bis.. only year granularity ..
* Thumbnail ..> Mirador

[2021-08-17 13:15] l00mi commented on #27
![Screenshot 2021-08-17 at 15 15 19](https://user-images.githubusercontent.com/502518/129732267-fcc9844e-c176-46ae-bb7b-69d20158d633.png)

[2021-09-09 14:18] l00mi opened #40 "Fix histogram component filter."
The histogram component needs to be slightly changed that the filtering is working again because of the different attachement of time in the dataset.

4h

[2021-09-09 14:18] l00mi commented on #40
@tpluscode can you give an estimate here for the next sprint?

[2021-09-13 15:55] tpluscode commented on #40
This is only to adjust the query to get the correct patterns?

[2021-09-14 10:33] l00mi commented on #40
The problem is that it is based on the "collected" filters from the HTML or in this case the SVG. So it would need to adapt the filter functionality to be able to have a second degree filter.

Before it was _Document -> Date_ now its _Document -> TimeObject -> Date_

[2021-09-14 13:10] ktk commented on #28
@PlekszyGladz will add the file to the data, once the large scope export works again in the pipeline.

[2021-09-14 13:11] ktk commented on #38
* The current state of the export will remain as is
* Item is missing, should be part of the export soon
* Minimal XML based pipeline that transforms the data to proper RDF
* Only post-processing step is for mapping the namespace IRIs into the proper domain

[2021-09-14 13:23] #25 closed, assigned to tpluscode

[2021-09-14 13:23] ktk opened #41 "Export List"
- The list can be exported and downloaded for use in different tools (.xlsx, .csv).

4h

[2021-09-14 13:30] ktk opened #42 "Provide images on IIIF Server"
- [x] @ludovicm67 creates the final DO buckets and shares the API Key to @PlekszyGladz to provide all the images.
- [x] @PlekszyGladz provides the pictures.

4h

[2021-09-16 09:52] PlekszyGladz commented on #38
@ktk IRIs should be post-processed as follows to match the patter in use with the archival data:
from `https://open-na.hosted.exlibrisgroup.com/alma/41SLSP_RBE/rda/entity/work/9956891840105527`
to `https://data.ptt-archiv.ch/library/work/9956891840105527`

also i suggest a second post-processing step to link works with the swisscovery online catalogue: if the IDs of works are prefixed with `https:

[2021-09-16 10:06] tpluscode commented on #41
Which exact information do we want exported?

cc @PlekszyGladz

[2021-09-16 10:41] PlekszyGladz commented on #41
The main information to export should be:
1. rico:identifier
2. rico:name
3. rico:scopeAndContent
4. time:hasBeginning
5. time:hasEnd
6. and maybe the IRI of the record itself?

[2021-09-24 15:21] tpluscode commented on #21
@PlekszyGladz if you have any specific wording/structure in mind, please provide a template for what that email's contents could look like

What details about the records would you also have include in the email text? I assume it's more that just identifiers?

[2021-09-28 09:37] PlekszyGladz commented on #21
@tpluscode the order email should look like the following:

[2021-09-28 09:45] PlekszyGladz commented on #38
On this matter SLSP-Support just replied as follows:

@ktk so I guess the current export ist the best we can expect at the moment...

[2021-10-05 07:45] l00mi commented on #42
@ktk what are the next steps here?

[2021-10-11 13:22] l00mi commented on #28
@ktk has a look.

[2021-10-11 13:31] l00mi commented on #41
Needs to be copied from base project.

[2021-10-11 13:32] l00mi commented on #21
Add the html tag, and then we all test multiple clients.

[2021-10-11 13:37] l00mi commented on #42
@ludovicm67 we need to quickly discuss on this how to proceed. can you make a meeting with us.

[2021-10-11 13:41] l00mi opened #43 "Add a skos:hiddenField to represent everything to search on."
Queries should not only search Titles (at least also rico.scopeAndContent)

This will be used as the index for searching.

Create a INSERT SPARQL query which will be run after the upload to create.

Hidden fields to insert:
- [x] Searching: `rico:name` (full upper hierarchy) + `rico:scopeAndContent` (only current record) + `rico:identifier` (only current record) + `rico:descriptiveNote` (only curr

[2021-10-11 13:42] l00mi opened #44 "Let filters be defined again in the renderer"
Clicking the archival hierarchy filters the wrong way around (expected behaviour: clicking on a "Serie" shows all "Dossiers" inside)

[2021-10-11 13:51] l00mi commented on #43
include all:
* title (full upper hierarchy)
* scopeAndContent (only document)
* ricoIdentifier (only document)

Edit by @PlekszyGladz: also include rico.descriptiveNote (only document)

[2021-10-11 13:57] l00mi opened #45 "Deploy a separate DB Instance for MFK."
On stardog free licence find a deployment option.

[2021-10-11 15:51] tpluscode commented on #21
Here's an example `mailto:` modified so that its contents are wrapped in `<html>`: [mailto link](mailto:archiv@mfk.ch?body=%3Chtml%3E%3Cbody%3E%3C%21----%3E%3C%21--%3Flit%24988927053%24--%3E%20%20%20%20%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20%20%20%20%20%20%20table%20%7B%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20border-collapse%3A%20collapse%3B%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20

[2021-10-11 17:07] ludovicm67 commented on #42
Yes, we can have a meeting for that. Can you schedule one meeting?

[2021-10-12 09:41] tpluscode commented on #41
@PlekszyGladz I added these columns to the exported csv. Let me know if the headers are fine

[2021-10-12 10:12] PlekszyGladz commented on #41
@tpluscode seems fine to me except one thing: What ist the column "Code" for? In the test exports I did it was always empty...

[2021-10-12 10:16] tpluscode commented on #41
Oh, it should not be there. Sorry. Removing

[2021-10-12 10:18] PlekszyGladz commented on #21
I tried Outlook and the Android Gmail-App and both displayed the html as plaintext. (Also i could not open the mailto link from Chrome, but that migth be a config problem on my side...)

Edit: I just found [this ](https://stackoverflow.com/questions/5620324/mailto-link-with-html-body) stack overwflow thread. It seems what we are trying here is not really supported. One solution might be [this answ

[2021-10-12 12:46] tpluscode commented on #40
I believe this is fixed now @l00mi

[2021-10-12 13:45] #40 closed, assigned to tpluscode

[2021-10-12 13:45] #20 closed, assigned to tpluscode

[2021-10-12 13:45] #13 closed, assigned to nobody

[2021-10-20 08:07] ktk commented on #42
@PlekszyGladz could you comment again about the size & amount of images so we can do some calculations?

[2021-10-20 09:40] ludovicm67 commented on #42
Some S3 providers:

- [DigitalOcean Spaces](https://docs.digitalocean.com/products/spaces/)
- [Amazon S3](https://aws.amazon.com/s3/pricing/)
- [CloudFlare R2](https://blog.cloudflare.com/introducing-r2-object-storage/) (⚠️ not available yet)

Some other alternatives: https://www.coralnodes.com/amazon-s3-alternatives/

[2021-10-20 11:33] ktk opened #46 "Pipeline is slow and times out"
@PlekszyGladz ok I've fixed the pipeline, problem was the XML file in git, this kills Gitlab somehow. In other words we cannot store the XML in the git repo anymore, at least not uncompressed.

Now it fails here:

[code]

I had that for spanish as well and I added a new entry in the Turtle-File but I guess here it needs data alignment? I guess dt is deutsch.

[2021-10-21 12:07] PlekszyGladz commented on #46
@ktk yes 'dt' is 'deutsch'. I tried to implement this [here](https://gitlab.zazuko.com/amos/amos/-/commit/b9ed9f5e3c2daa61cca2ead8bbd133dfeb1a33aa). It seems to work fine but it's rather hacky and hardcoded atm...

[2021-10-25 08:56] tpluscode commented on #21
According to the comments the Chrome will by design block EML downloads and there are other special cases for various clients and browsers. Hardly a sustainable option

Unless we decide to go for an external mailer service plain text should be the way to go.

I'll keep code around to easily support both outputs and configure the app to send plain

[2021-10-25 11:47] ktk opened #47 "Loading previews from S3 seems extremely slow"
See thread here https://zulip.zazuko.com/#narrow/stream/62-ptt-archiv/topic/thumbnails/near/223682

@ludovicm67 please check out when you are back from holidays.

[2021-10-25 12:54] tpluscode commented on #47
Sometimes the previews do not load at all. Trying https://data.ptt-archiv.ch/archive/instantiation/CH-000525-4%3Aaip-01-0000205575-0001/manifest

I have mostly seen image responses with `content-length: 0` and an occasional 500 with stack trace like below

[code]

[2021-11-02 10:23] l00mi commented on #42
@ludovicm67 where is the more indepth analysis you did? What is the takeaway again?

[2021-11-02 13:11] l00mi commented on #41
Change titles to:

Signature | Title | Description | Start date | End date | Permalink
-- | -- | -- | -- | -- | --

[2021-11-02 13:14] l00mi commented on #21
Change Subject to: Unterlagen Bestellen / Commander des documents

[2021-11-02 13:20] #28 closed, assigned to ktk

[2021-11-02 13:30] l00mi commented on #45
@ludovicm67 can you ping me please on this issue.

[2021-11-02 13:41] l00mi opened #48 "Cut at ~150px the hierarchy with ellipsis."
Also check with titles.

[2021-11-02 13:48] l00mi opened #49 "Add the time filter along with the other filters."
Add the start and end date of time filters separately as a field to remove from the filter list.

Remove the RESET button.. align the Results to the right bottom.

[2021-11-02 13:53] l00mi opened #50 "Sorting"
Introduce a sorting of records:

* by Score
* by Time
* by Hierarchy
* by Type > from lowest in hiearachy to highest

[2021-11-02 15:35] PlekszyGladz commented on #21
![image](https://user-images.githubusercontent.com/5487333/139878873-057d0bf4-cf64-4f7a-b5f6-ac75f0913e56.png)

This is how the Link opens from Chrome to Outlook on my side

[2021-11-03 09:52] l00mi commented on #45
Current Idea:
- [x] On our jon Cluster deploy a Stardog Instance for PTT-Archive based one the Free Licence
- [ ] Adapt the Pipelines to use this new Stardog Instance and switch the current Trifid instance to use the new store.

@PlekszyGladz can you please create a Free Licence for the PTT-Archive with your contact details: https://www.stardog.com/get-started/ and share the licence with @ludovicm

[2021-11-03 09:54] l00mi commented on #45
@PlekszyGladz is it okay to use MFK in the naming of this store internally as it seem it will be used by other in the MFK later on?

[2021-11-03 09:58] l00mi opened #51 "Create new Org for PTT Archive on DO"

[2021-11-03 10:03] l00mi commented on #42
@PlekszyGladz can you please make the CNAME DNS entry for `iiif.ptt-archiv.ch` to `iiif-ptt-archiv-ch.zazuko.net`

[2021-11-03 15:39] ludovicm67 commented on #45
Waiting for the license file before deploying the new Stardog instance.

[2021-11-04 09:01] PlekszyGladz commented on #45
is done!

@l00mi MfK should be all right for internal purposes. If the naming is case sensitive i would use the official version (small 'f') though.

[2021-11-08 11:29] PlekszyGladz commented on #42
@l00mi should work now

[2021-11-08 13:14] l00mi commented on #51
done @ludovicm67

[2021-11-08 13:14] #51 closed, assigned to l00mi

[2021-11-09 09:05] l00mi commented on #29
* Expand the hierarchy band to double side and show the Identifiers (Signatur).
* Show the ScopeAndContent as Tooltip if hovered over the hierarchy item.

[2021-11-09 10:24] tpluscode opened #52 "Missing hierarchies"
I noticed today that there are broken hierarchy links from some records

For example, see https://data.ptt-archiv.ch/search/?q=pakete

Nothing shows for `Nachfragen Pakete mit und ohne Wertangabe Ausland` and some others. This one in particular is https://data.ptt-archiv.ch/archive/record/33718 and indeed the `rico:isOrWasIncludedIn` links to https://data.ptt-archiv.ch/archive/record/222 which doe

[2021-11-10 09:13] PlekszyGladz commented on #52
The reason is the source data of some records in scopeArchiv. It is possible to mark a record as public (i.e. at least the metadata of the record) but protect the parent entry.

This can happen due to legal times of protection or the fact that the archival description of the parent is still ongoing while the child has been completed.

We should try internally to clean these up sometimes, but this

[2021-11-10 10:12] PlekszyGladz commented on #46
current state of this issue:
- the mapping seems to work well atm.
- also the pipeline runs
- however it takes longer than the timeout (currently 1h).
- @ktk we should soon investigate why the process is so slow!

[2021-11-10 18:21] ludovicm67 commented on #45
I deployed the Stardog instance in the `jon` cluster using the license file provided by @PlekszyGladz.
I will configure it beginning of next week and configure the pipeline and the Trifid instance to use it instead of the actual one.

[2021-11-16 15:28] PlekszyGladz commented on #27
New draft for the main ui as discussed in the last meeting (the display of single entries is not reflecting recent changes!): ![ui_draft](https://user-images.githubusercontent.com/5487333/142010388-94aab1b7-ba6d-44c5-a8ac-a1924b3fa5d9.png)

I created a quick HTML template of this. The whole `<head>` section and all the `<script>`s etc. are left out. Things I omitted are marked by `<...>` and the p

[2021-11-22 11:04] #48 closed, assigned to l00mi

[2021-11-22 11:04] #44 closed, assigned to tpluscode

[2021-11-22 11:04] #49 closed, assigned to nobody

[2021-11-22 11:18] #41 closed, assigned to tpluscode

[2021-11-22 11:22] PlekszyGladz commented on #21
The mail now opens correctly in all my browsers and mail clients.
Just e few small things before the issue can be closed:
1. Subject of the mail should be: "Unterlagen Bestellen / Commander des documents"
2. In the list of ordered documents at the bottom: display not only the links but the Identifier, Name and Date Range
3. Only Records of "Dossier" and "Document" Level can be ordered. All higher

[2021-11-22 14:53] l00mi opened #53 "Exclude Archive Level from Query"
No need to show the Archive Level in this use case.

[2021-11-22 15:38] PlekszyGladz opened #54 "Change histogram filtering behaviour for records with intervals as creation dates"
Currently filtering dates seems to only select records where both the start and the end date are inside the specified interval.

As we have mandy records with large creation date intervals filtered results should include all records with any overlap to the filter. That is (start OR end date inside query interval ) OR (start date smaller than the query interval AND end date lager than the query int

[2021-11-22 15:44] PlekszyGladz commented on #27
another small note on the display of dates in the result list: display the rico.expressedDate as it may include further (human readable) qualifiers (e.g. "ca.") or other info that is not mapped with the ISO-dates

[2021-11-24 11:57] tpluscode commented on #27
@PlekszyGladz current progress applying your styles: https://data.ptt-archiv.ch/search/new.html

Can you confirm the "compact" checkbox on top?

The biggest missing piece is the changed filters and their colors. On that subject, could you elaborate on the ***museum filters*** and ***library filters***?

The ones we currently have filter on `?subject rico:hasRecordSet ?filterValue`. I'm guessing we

[2021-11-24 13:06] PlekszyGladz commented on #27
@tpluscode regarding your questions:
- The "compact" checkbox on top is correct.
- Currently only the archive hierarchiy filters are needed. Museum and library filters will only be added after we have the respective data as RDF. The `<div>`s are just there as placeholders.
- The filter colors are specified at the bottom of the provided CSS with the hierarchy levels as class names.
- The `rico.expr

[2021-11-24 15:46] tpluscode commented on #27
Just uploaded my implementation of the coloring scheme. Note that instead of classes I used CSS variables, each name derived directly from the filter term. So for example `https://data.ptt-archiv.ch/archive/recordLevel/Teilbestand` becomes `--zack-level-Teilbestand-color` ([diff](https://gitlab.zazuko.com/docker/data-ptt-archiv-ch/-/commit/685def68a3eab4aa12156fadd6cc2a48683516d4#85c07a55a3ddebb45

[2021-11-24 16:08] PlekszyGladz commented on #27
The color scheme will change once library (green) and museum (blue) records are added to the data. The colors then will reflect the origin of the data.

For me, it always uses the whole viewport. Could this be some browser specific problem (I checked the latest chrome and firefox)?

The idea is to have a tall result list facilitating going through large result sets but still showing the active fil

[2021-11-24 16:36] tpluscode commented on #27
My mistake about the width, of course. It was cutting off at some point but beyond your style. Fixed now.
I also did fix the dates in compact view

[2021-11-25 12:11] PlekszyGladz commented on #18
@l00mi We created the draft for the detail screen overhaul. Displayed information is black and clarifications/further instructions are in green.
Note that apart from some exceptions (Name, Identifier, Daterange, Parent, Provenance) most fileds might exist more than once for a given record (espacially Descriptive Notes).
![20211125_SkizzeDetailansicht](https://user-images.githubusercontent.com/5487

[2021-11-30 09:11] l00mi opened #55 "Notes inside the Search"
To make the notes more accessible and notable, show them in the result list.

If there is only one note, show it directly.

If there are multiple notes, add a dropdown to select the shown one.

If a list is selected as filter, only show the note of the filtered list.

[2021-12-02 10:08] l00mi commented on #38
Potentially @cristianvasquez could implement this step.

Short term @ktk will make a one shot publication.

[2021-12-02 10:10] l00mi commented on #43
@ktk makes a first manual insertion.

[2021-12-02 10:10] l00mi commented on #46
It is working now, and does not timeout.

[2021-12-02 10:10] #46 closed, assigned to ktk, PlekszyGladz

[2021-12-02 10:13] l00mi commented on #45
@ludovicm67 please check the performance in regard of the histogram.

https://data.ptt-archiv.ch/search/new.html

[2021-12-02 10:19] l00mi commented on #42
* We need to understand why its slow?
* If it can be remedied in S3 of DO?
  * if yes move data to DO
  * if no find other storage solution.

[2021-12-02 10:35] l00mi commented on #21
* First a pop-up appears with some text which @PlekszyGladz will provide.
* If some things need to be removed because non-orderable (not a Document/Dossier) it will show a warning.
* A button creates the email for the ordering.

[2021-12-02 10:36] l00mi opened #56 "Make it usable on smaller devices"

[2021-12-02 10:37] #27 closed, assigned to tpluscode

[2021-12-02 10:52] l00mi commented on #50
![Screenshot 2021-12-02 at 11 50 02](https://user-images.githubusercontent.com/502518/144408568-4675358b-160e-471a-8f07-fb60a8f45a1f.png)

[2021-12-06 14:37] ludovicm67 commented on #45
Using a CPU-optimized node for the Stardog instance help to have better performances.
If you want to improve performances more, someone else then me needs to update the SPARQL queries so that they are not dependent on the screen size and so that they can get cached properly.

[2021-12-08 09:14] PlekszyGladz commented on #18
@tpluscode i created the html-template for the detail screen including a few additional css-styles

- Placeholders and what goes in them are markd with ``-Comments.
- I created an `<ul>` for the repeatable properties. There individual items can be added as `<li>`
- In the main metadata table (`<table class="context-information">`) rows with no data can be hidden.

[code]

[code]

[2021-12-09 11:38] PlekszyGladz opened #57 "Translation of the Interface"
The Interface should be translated to German (for initial realease). In the future at least French (and maybe Italian and English) will be a requirement.

See screenshots with suggestions for the translation:
![digitalerlesesaal_translation_1](https://user-images.githubusercontent.com/5487333/145389995-14f500fe-8ef9-497a-beda-afb75a5d3ec5.png)
![digitalerlesesaal_translation_2](https://user-images

[2021-12-09 11:55] PlekszyGladz commented on #21
@tpluscode i wrote the new version of the pup-up info text notifying the users about the ordering process (including the removal of unorderable units)

[2021-12-16 08:40] l00mi opened #58 "Namespace for ptt-archiv/mfk"
https://data.ptt-archiv.ch/archive -> archive
https://data.ptt-archiv.ch/library -> library
https://data.mfk.ch/collection -> collection

(https://data.mfk.ch/blog)
(https://data.mfk.ch/participation)

[2021-12-16 08:45] l00mi opened #59 "Ingress for http://pttarchiv.mfk.ch/"
Ingress which does simply redirect with the following rule:

Everything from
http://pttarchiv.mfk.ch/ -> to https://data.ptt-archiv.ch/search

EXCEPT
http://pttarchiv.mfk.ch/detail.aspx?ID=116
->
https://data.ptt-archiv.ch/archive/record/116

ergo
http://pttarchiv.mfk.ch/detail.aspx?ID=<*>
->
https://data.ptt-archiv.ch/archive/record/<*>

[2021-12-16 08:58] l00mi opened #60 "Adapt Interface to also show Library data."
- [x] Added the data, shows most fields.
- [x] Show the filter on top.
- [x] Show always PTT-Bibliothek on top of each entry?

[2021-12-16 09:00] l00mi commented on #38
blockes https://github.com/zazuko/amos/issues/60

[2021-12-16 09:20] ktk commented on #38
RDF/XML header needed to parse the data:

[code]

[2021-12-16 09:32] ludovicm67 commented on #59
Please CNAME pttarchiv.mfk.ch to `pttarchiv-mfk-ch.zazuko.net`

[2021-12-16 09:33] l00mi commented on #59
@PlekszyGladz see above

[2021-12-16 12:24] ktk commented on #38
Ok loaded into a separate graph for now, manually:

[code]

[2021-12-16 12:24] ktk commented on #38
IRIs still need to be refactored, can be done once it's part of a pipeline

[2021-12-16 13:09] l00mi commented on #38
@ktk please change the namespace to https://data.ptt-archiv.ch/library/<something> else we will not be able to show this entries with trifid, as they are not dereferencable. (Its needed if we click on an entry.)

[2021-12-16 13:17] l00mi commented on #38
@ktk We will also need the dates properly extracted, else we can't show it on the timeline. They need to be added to the manifest like this
[code]

[2021-12-16 13:20] ktk commented on #38
ok here we go:

https://data.ptt-archiv.ch/library/manifestation/9958748050105527

For anything else I need the pipeline first

[2021-12-16 14:47] l00mi commented on #60
@PlekszyGladz okay first parts are online.

[2021-12-16 17:31] tpluscode commented on #18
Progress so far: https://data.ptt-archiv.ch/archive/record/203353

I found that there are no records with `rico:width`

[2021-12-17 16:14] l00mi commented on #54
The histogram is now only filtering on the Start date.

[2021-12-17 16:16] l00mi commented on #60
Because of the missing interpreted dates they library data is not shown in the timeline.

[2021-12-17 16:20] l00mi commented on #57
@tpluscode  can you please take care of the remaining?
* The List Widget
  * Keine Liste, Liste, Persönliche Notizen, Notizen bearbeiten
* Select List
*Filter: list -> Liste:

[2021-12-20 09:16] PlekszyGladz commented on #59
@l00mi and @ludovicm67 the new DNS entry will be active from Jan 1st.

[2021-12-20 09:28] PlekszyGladz commented on #18
There are not many (mostly on the higher hierarchy levels) but still arond 900 with the following query: https://s.zazuko.com/Sxhe4

One other detail: can the label "Historisches Archiv und Bibliothek" on top be shortened to "PTT-Archiv" on the detail page?

[2021-12-20 09:40] tpluscode commented on #18
The "Historisches Archiv..." is directly taken from the data, being the `rico:name` of that record set: https://s.zazuko.com/fVrRy

Let's add a second label for display purposes. `skos:prefLabel` would typically serve such a purpose

[2021-12-20 09:44] PlekszyGladz commented on #54
@l00mi Just checked it and seems to work fine.
But only filtering the Start Date still leaves out some cases. I made a small sketch showing a query (pink) and possible records below them (designated as A to F)
![image](https://user-images.githubusercontent.com/5487333/146745842-7edb04e1-a7a8-494a-a6d9-49672d1c10e6.png)
Cases A to D should show up in the results. With the current setup we only have

[2021-12-21 09:19] tpluscode commented on #60
@PlekszyGladz we will need data mapping to show library data in the redesigned details page

[2021-12-21 11:57] PlekszyGladz commented on #57
@tpluscode i found two last cases where the default list ("Starred") is not yet translated to "Rechercheliste".
![image](https://user-images.githubusercontent.com/5487333/146926083-f322bdfa-144e-43c1-b405-af8ef2cf007d.png)
![image](https://user-images.githubusercontent.com/5487333/146926126-ec6c0e7e-11dc-4ca1-892e-75d1c3660ad5.png)
i tried to clear local storage but that did not help..

[2021-12-21 12:00] PlekszyGladz commented on #18
Makes sense! For now I will just rename the top archive record to "PTT-Archiv" by hand in the next export (coming later today).

Also, i found that the "Schutzfrist" is still missing from the detail view

[2021-12-21 12:07] PlekszyGladz commented on #60
@tpluscode what do you mean by data mapping. It will be hard/impossible to match the libary properties to the archive properties.  But I can give a minimal set of libary properties and their labels that should be shown in the detail view.

[2021-12-21 12:58] tpluscode commented on #60
Yes please. That is more or less what I had in mind

[2021-12-21 14:44] PlekszyGladz commented on #60
Ok, so here are the core elements for the first implementation:

![image](https://user-images.githubusercontent.com/5487333/146947600-f9d2e840-2079-4f55-9dae-44654cf6dcde.png)

- there is only one colored label on top that should read "Bibliothek"
- the first row should list all the creators of the work
- then the title of the work
- followed by the creationDate of the manifestation
- omit the sco

[2021-12-21 15:49] l00mi opened #61 "Add context metadata"
Links to https://culture.ld.admin.ch/isil/CH-000525-4

rico:isOrWasHolderOf

[2021-12-21 15:50] l00mi commented on #61
https://fedlex.data.admin.ch/eli/cc/1999/354

[2021-12-22 11:08] l00mi commented on #50
For the sorting we could take over the same element of https://www.mfk.ch/austauschen/blog
<img width="1964" alt="Screenshot 2021-12-22 at 12 07 25" src="https://user-images.githubusercontent.com/502518/147083589-6c2e3694-9064-478b-9c32-3440dae92cd4.png">

It would be below the Timeline.

[2021-12-22 13:05] tpluscode commented on #60
Ok, I updated the detail page to render library resources as requested. For example see https://data.ptt-archiv.ch/library/manifestation/9958772710105527

You will see that the creators are apparently not always mapped correctly from source dataset. This one was left as URI where I think it should be `Uri. Bauamt`?

[2021-12-22 13:32] PlekszyGladz commented on #60
Thanks for the implementation! Looks good so far.

Exaclty, the correct creator would be `Uri. Bauamt`.
@ktk We should investigate the issue with URIs as part of the general library pipeline in #38.
- The GND-Data is available as RDF (https://d-nb.info/gnd/1085918823/about/lds)
- but the source from SLSP is not even using the proper permalinks (https://portal.dnb.de/opac.htm?method=simpleSearch&cq

[2021-12-22 13:33] PlekszyGladz commented on #38
see also this problem with GND-Links: https://github.com/zazuko/amos/issues/60#issuecomment-999579973

[2021-12-22 13:45] PlekszyGladz commented on #60
@tpluscode Can we also add the blue "Bibliothek" label to the results in the search interface (analogous to the red archive hierarchy) without augmenting the dataset?

[2021-12-22 15:30] PlekszyGladz commented on #18
Still open are:
- "Schutzfrist" is not showing
- "Teil von:" shows the correct title but links to the wrong record (not the parent but to itself)

[2021-12-22 15:39] l00mi commented on #60
@PlekszyGladz that information needs to come also from the data. I tried to add it ad-hoc in the query, but that is non-trivial unfortunately. We need to inject this information in the pipeline.

[2021-12-22 15:44] PlekszyGladz commented on #60
Ok then we leave this for the first version. But we really should focus on the library data issues in the next year

[2021-12-22 18:14] tpluscode commented on #18
Fixed. It may be necessary to clear browser cache

[2022-01-03 13:57] tpluscode commented on #29
@PlekszyGladz please have a look at the first proposal for this. Hovering over the hierarchy will, after a short delay, show the identifier + scope and content over the rest of the record.

@l00mi proposed to show only the identifier and a tooltip for scope & content but it is a potentially a long text so I went for an ellipsis and a link to the details page.

Since this had to be implemented only

[2022-01-03 15:44] ludovicm67 commented on #59
Thank you @PlekszyGladz for the CNAME.

Here are the results of some redirections:

  - http://pttarchiv.mfk.ch/other.ext -> https://data.ptt-archiv.ch/search/
  - http://pttarchiv.mfk.ch/other.ext?ID=116 -> https://data.ptt-archiv.ch/search/?ID=116
  - http://pttarchiv.mfk.ch/detail.aspx?ID=116 -> https://data.ptt-archiv.ch/archive/record/116
  - http://pttarchiv.mfk.ch/detail.aspx?id=116 -> http

[2022-01-12 13:11] l00mi commented on #42
Is it okay to convert everything to jpeg2000? @PlekszyGladz we will discuss this in the next review.

[2022-01-18 13:33] l00mi opened #62 "First Tests with Video Manifest"
https://iiif.io/api/cookbook/recipe/0003-mvm-video/

[2022-01-19 09:33] ludovicm67 commented on #42
For IIIF images, I really want to use JPG2000 images instead of TIF, to solve performances issues and to avoid strange issues with multi-pages documents like I saw when using TIF (when zooming on a multipage document, it was showing tiles from random pages, I will not be able to fix this ; but using JPG2000 is solving this issue).
I also removed cache expiration, so only the first time we load an

[2022-01-19 09:55] ludovicm67 commented on #47
This was due because of performances issues with the IIIF server ; it was overloaded with requests and working with TIF files is not as performant in our case than working with JPEG2000.

This issue should be fixed since beginning of the year.
I use JPEG2000 instead of TIF as file format, I deployed a second instance of the IIIF-server and make sure they are running of CPU-optimized nodes.
Perform

[2022-01-19 10:21] #59 closed, assigned to ludovicm67

[2022-01-19 10:21] #45 closed, assigned to ludovicm67

[2022-01-19 10:21] #57 closed, assigned to tpluscode

[2022-01-19 10:22] #18 closed, assigned to l00mi, tpluscode, PlekszyGladz

[2022-01-19 10:39] PlekszyGladz commented on #42
that would be great

Updating well be sporadically and dependant on our scanning projects. So once a day will be enough!

As we keep the TIFs for internal use anyways, I don't see any need to keep them on the S3 Server

[2022-01-19 10:43] ludovicm67 commented on #62
I've done some tests using the IIIF server to see the answers we can have.

Using: https://iiif.ptt-archiv.ch/iiif/3/Oral-History%2F012-SAM-OHP_037%2F012-SAM-OHP_037_Interview.mov/info.json

Gives the following output:

[code]

Using the IIIF server can be useful if we need to be able to generate thumbnails at every moment on this specific video. Is it something we would need or not? For informati

[2022-01-19 10:59] ludovicm67 commented on #62
How I see the thing:
- someone upload videos on the dedicated S3 bucket
- a cronjob is run once a day to get the duration, width and height of each video and set this as S3 metadata on each file
- The AMOS pipeline will call a service that I will need to write, that basically just returns the S3 metadata of the requested video ; if metadata are not existing, if will need to wait the next run of th

[2022-01-20 09:35] l00mi opened #63 "Think about statistics"

[2022-01-20 09:39] l00mi commented on #38
1 month periodicity -> write to a s3 bucket

@ludovicm67 @ktk define bucket and how to access for the upload and what filename(s) to use.

[2022-01-20 09:41] l00mi opened #64 "Augment Library Metadata"
- [x] Permalink to swisscovery (https://github.com/zazuko/amos/issues/38#issuecomment-920756376)
- [x] GND links in the metadata which needs to extract data https://github.com/zazuko/amos/issues/38#issuecomment-999580491
- [ ] generate similar intervals as with the RIC-O data for a common search on dates #78

8h

[2022-01-20 09:45] l00mi opened #65 "properly render line breaks in metadata instead of "\n""
- [x] Understand where in the pipeline or visualization the escaping is missing.
- [ ] Check if rendered in the Frontend.

8h

[2022-01-20 09:56] #60 closed, assigned to tpluscode

[2022-01-20 10:07] #47 closed, assigned to ludovicm67

[2022-01-20 10:15] l00mi commented on #29
Minor changes:
Show the ricoIdentifier below each hierarchy step, only the one selected "clickable" and other color.
Keep the scopeAndContent on the second line.

[2022-01-24 13:19] tpluscode commented on #50
Sorting is up, byt title and date. I used the fonts from mfk.ch but not the full styling as it underlines on hover...

@PlekszyGladz

[2022-01-24 13:26] tpluscode commented on #29
@l00mi I applied changes as discussed last week. Notice a slight deviation from your comment above. When the hierarchy slides down, all levels are always clickable. This way one does not have to go back and point on the colored segments above.

It appears that some levels do not have their `scopeAndContent` which results in a blank line when hovered. Maybe it's fine or maybe we would add some fall

[2022-01-24 14:07] tpluscode commented on #21
I fixed the export and order. The defined properties are now shown again @PlekszyGladz

[2022-01-26 15:23] l00mi commented on #29
@tpluscode overall I think it is good like is. The only expectation I would have to have the codes vertically aligned with the hierarchy above. We might for that stretch actually the hierarchy bar itself?

[2022-02-02 09:01] #21 closed, assigned to tpluscode

[2022-02-02 10:51] PlekszyGladz commented on #50
Looks good and works as intended!
Some thoughts though on how to further improve the sorting:

* [x] Switch position of sorting and active filter, so that the sorting is always directly on top of the search results.
* [x] Sorting by name: as you predicted there are many titles starting with special characters such as quotes, wich show on top of the list. For sorting purposes only alpha-numeric cha

[2022-02-02 10:53] PlekszyGladz commented on #29
I agree with @l00mi. In addition there should be some indication of the active scopeAndContent that is currently displayed. Maybe by only underlining only the hoverd identifier-links?

[2022-02-02 21:48] ludovicm67 commented on #42
I created the cronjob. It's based on this: https://github.com/zazuko/s3-image-converter
The cronjob is running every hour, when minutes equals to 5, so that we don't have to wait an eternity to see if conversions are working well. I will/can change the frequency depending on our needs.
It is configured to convert all TIF files present in the S3 bucket to JP2 one.
TIF files are removed after conver

[2022-02-08 08:28] l00mi opened #66 "Extend IFFF Manifest Metadata"
Add more information to the Manifest for external IIIF readers.

- [ ] Basic information available in the store already per document (title, author, ...)
- [ ] Information on the PTT-Archiv

[code]
From https://iiif.harvardartmuseums.org/manifests/object/29984

[2022-02-08 13:12] l00mi opened #67 "Proper predicate to attache IIIF Manifest to record."
Clearer predicate then seeAlso.

[2022-02-08 13:24] l00mi opened #68 "Add a filter for Entries which have Media"
A filter to add on top which can filter for everything which has Media

[2022-02-08 13:30] l00mi opened #69 "Collection of slow queries"
**Main focus for improving performance: Search interface and listing of results**

Some general observations:
- ✓ Entering text queries and/or activating new filters shows the number of hits rather quickly (This even holds for a larger number of combined filters!)
- ✗ listing results takes too long
- ✗ listing results sometimes retriggers (without there being a new query/filter)
- ✗ listing result

[2022-02-08 13:45] l00mi opened #70 "Optimize Licence renouvel"

[2022-02-08 19:37] ludovicm67 commented on #62
After improving the pipeline to add support for videos, I did some tests for generating manifests. It seems that the duration is not required for displaying it in the IIIF viewer.

In the current state, the pipeline is querying the IIIF-server (first call is slow, then the next one are instant) to get the with, height and the thumbnail.
Videos are exposed publicly, but I will need to create a serv

[2022-02-09 16:19] tpluscode commented on #50
@PlekszyGladz I moved the sorting as requested and also added a "best match" sorting. I only shows when full text search is used and gets selected, replacing any current sorting. Of course it can always be changed and it also reverts to previous selection when text field is cleared

Regarding the other two point, we'd need to make changes to the pipeline so that we pre-compute the necessary values

[2022-02-17 14:40] ktk commented on #38
@ludovicm67 could you tell us where we can put these files? It should be a different folder than for the images, we propose to call it `datasource`. We will add the library and archive source files there (XML & CSV).

[2022-02-17 15:04] ludovicm67 commented on #38
I created a new S3 bucket called `amos-datasource`.
@PlekszyGladz should have access with the credentials I gave him last time.

Just make sure to upload files with a Public policy.
If you are using Minio client (`mc`), you can upload files using something similar:

[code]

with:
- `<local_file_path>`: the local path to the file to upload
- `<storage_alias>`: the name you gave for the S3 endpoint

[2022-02-21 12:49] PlekszyGladz commented on #38
@ktk i provided the source files for the pipeline in the newly created s3 bucket.

- Library Data: https://amos-datasource.fra1.digitaloceanspaces.com/slsp.xml
- Scope Data: https://amos-datasource.fra1.digitaloceanspaces.com/scope.csv

we will manage version of these files on our side, so these file names are permanent

[2022-02-22 12:38] PlekszyGladz commented on #38
still todo:
- updating the barndard59 packages
- Library Pipeline (should parse proplerly by now)

[2022-02-22 12:53] PlekszyGladz commented on #50
Implement hidden fields at #43

[2022-02-22 12:57] #42 closed, assigned to ludovicm67

[2022-02-22 13:26] PlekszyGladz commented on #62
@ludovicm67 I provided two MP4 examples on the s3 bucket

[2022-02-22 13:54] PlekszyGladz commented on #43
@ktk and @tpluscode I added specs for all currently required hidden fields in the [first ](https://github.com/zazuko/amos/issues/43#issue-1022723213) comment of this thread

[2022-02-22 14:12] ludovicm67 commented on #42
For information, I changed the cronjob frequency to be run only once a day, at 04:05 UTC.

[2022-02-23 10:15] l00mi opened #71 "Add a link from detail page to search interface."
Use the title "Digitaler Lesesaal" as a link back to the search interface.

[2022-02-23 10:16] ludovicm67 commented on #62
Thank you @PlekszyGladz for providing the videos!

Here is an example of a generated video manifest: https://data.ptt-archiv.ch/archive/instantiation/CH-000525-4%3Aaip-01-0000202776-0001/manifest

And here how it looks like in the web interface: https://data.ptt-archiv.ch/archive/record/202776

[2022-02-23 10:16] l00mi commented on #71
While on it, also add the links to the Turtle and JSON-LD description on the footer.

[2022-02-23 10:17] ludovicm67 opened #72 "Title tags are missing on some pages"
On some pages no `title` tag is present, like here for example: https://data.ptt-archiv.ch/archive/record/202776 .

Can someone take care of it?

[2022-03-01 15:07] tpluscode commented on #29
I changed how the hovered level is highlighted (underline and bold)

Aligning them vertically will not be that easy because they are actually rendered separately and also potentially not matching width. In a rare occasion the code is longer than the label

[2022-03-03 09:06] PlekszyGladz opened #73 "add active filters as url params"
any active filters should be added as url params (same as we currently do for keyword queries)

this facilitates the sharing of more complex searches as links

[2022-03-03 10:54] tpluscode commented on #68
https://user-images.githubusercontent.com/588128/156550901-b76b090a-bb2b-448b-a443-1b044a429742.mp4

[2022-03-03 11:32] tpluscode opened #74 "Add RDF links to details page"
While on it, also add the links to the Turtle and JSON-LD description on the footer.

_Originally posted by @l00mi in https://github.com/zazuko/amos/issues/71#issuecomment-1048629282_

[2022-03-03 12:20] tpluscode commented on #72
@PlekszyGladz what else to add as part of page title?

[2022-03-03 12:51] tpluscode commented on #74
@PlekszyGladz added links to download JSON-LD, Turtle and RDF/XML. You'll find them on top right, in smaller font

[2022-03-03 16:33] tpluscode commented on #43
Here's my best attempt at the query to build the hierarchy ordering string: https://s.zazuko.com/Pjb1X

[2022-03-07 13:11] tpluscode commented on #43
I propose this query to replace all leading non-alphanumeric characters: https://s.zazuko.com/fcdZvP

Notice the artificial predicate `https://data.ptt-archiv.ch/sort-by#title`. I have no better idea for annotating the records other than with a targeted property specific to our data. `skos:hiddenLabel` doesn't work for sorting if we'd intend to use it for more than just titles

[2022-03-07 13:57] tpluscode commented on #43
Finally, regarding search, I propose we simply change the `fulltext-part` to match ont only the titles but also the other properties as listed in the first bullet.

For that purpose I would introduce a new predicate for the concatenated hierarchy, similarly to the the "sort by title" above. Here's a revise query which CONSTRUCTs what would be inserted: https://s.zazuko.com/5rjPqJ

Thus, the full t

[2022-03-09 09:58] l00mi opened #75 "Refine Design and Layout with MFK CI"
Get professional help in doing the fine-tuning for the Design and CI.

- Quick UX pass
- Either:
  - Build proper CSS for the HTML Structure
  - Propose propor HTML Structure for the current CSS

I propose to involve Beat Zimmerli which did Typo3 https://mssc.ch/kontakt.

[2022-03-22 14:52] PlekszyGladz commented on #61
Not all records are mandated by this. so this would need some postprocessing in the pipeline...

[2022-03-22 14:55] l00mi commented on #61
Okay, that was just a proposition, so no worries. The ISIL link is more important for now.

If you want or can do the post-processing at some point that would be a nice addition. So I propose to make a clearer issue for that in the Backlog and close this one?

[2022-03-22 15:02] PlekszyGladz opened #76 "Fix wrong opening dates in order mail"
I made an error in the initial ordering mail and put the wrong opening days there:

Instead of:
[code]
it should read
[code]

[2022-03-22 15:08] PlekszyGladz opened #77 "Add legal context metadata to records"
https://fedlex.data.admin.ch/eli/cc/1999/354

_Originally posted by @l00mi in https://github.com/zazuko/amos/issues/61#issuecomment-998891603_

This is not applicable to all records. Only those with

`Die Bestände des Historischen Archivs und Bibliothek PTT unterliegen dem Bundesgesetz über die Archivierung. Für Unterlagen, die unter eine Schutzfrist fallen, kann ein Antrag auf Entsperrung gestell

[2022-03-22 15:10] #61 closed, assigned to PlekszyGladz

[2022-03-22 15:16] PlekszyGladz commented on #68
works as intended and gets used a lot here ;)

but some users have problems, as they try to click the (unclickable) checkbox instead of the label.

@tpluscode I propose changing it to a button similar to the other filters (i.e. remove the checkbox and add black border around the label).

[2022-03-22 15:17] #71 closed, assigned to tpluscode

[2022-03-22 15:35] PlekszyGladz commented on #67
the proper rico-way seems to be the following

create second rico:Instantiation/premis:Representation and link IIIF-Manifests with premis:storedAt

some fake turtle as illustration:

[code]

[2022-03-22 15:38] PlekszyGladz commented on #72
i think for the moment, this is enough :)

[2022-03-22 15:38] #72 closed, assigned to nobody

[2022-03-22 15:38] #74 closed, assigned to nobody

[2022-04-05 13:54] tpluscode commented on #43
To sum up after a call with @ktk

**Sorting by hierarchy**

We will use `skos:notation`, to store the full, concatenated hierarchy (identifiers) to use for sorting. It will also include the identifier of the item in question

@PlekszyGladz, do we still have missing hierarchy levels for some items? This will prevent us from building the complete "hierarchy string". If so, could you provide an examp

[2022-04-07 07:16] PlekszyGladz commented on #70
according to stardog support

[2022-04-07 07:36] ktk commented on #38
Task update:

- [x] update barnard59 to latest 1.x release
- [x] Fetch data from S3
- [x] Refactor scope pipeline
- [x] Add swisscovery link
- [x] Fix GND IRI
- [x] Refactor IIIF pipeline
- [x] IIIF S3 images index (talk to @ludovicm67 )
- [x] Add SLSP pipeline
- [x] Upload data pipeline (q: graph handling)
- [x] Refactor `.gitlab-ci` & merge branches properly

TODO:

- [ ] Implement #67 for IIIF

[2022-04-07 09:24] ktk commented on #38
Naming:
- archive
- library
- museum

For the rest, as fit

[2022-04-07 09:48] PlekszyGladz commented on #43
also search rico:identifier

[2022-04-07 10:27] #76 closed, assigned to tpluscode

[2022-05-03 09:34] ktk commented on #60
@PlekszyGladz I guessed that SLSP IDs are numeric only but I find this: `https://portal.dnb.de/opac.htm?method=simpleSearch&cqlMode=true&query=idn=109042132X`

Is this a bug or a feature? As in, should I just accept anything as ID?

[2022-05-03 09:44] ktk commented on #60
@PlekszyGladz also are you sure that GND IDs have the `/gnd/` part in there? I don't get anything back on that IRI, just when I remove `/gnd/`

[2022-05-03 11:14] #64 closed, assigned to ktk

[2022-05-03 11:15] PlekszyGladz opened #78 "Proper Dates for SLSP Records"

[2022-05-03 11:17] #68 closed, assigned to tpluscode

[2022-05-03 11:18] #62 closed, assigned to ludovicm67

[2022-05-10 12:31] PlekszyGladz opened #79 "rico:identifiers are interpreted as dates instead of plaintext"
Some identifiers are treated as dates by the pipeline:

e.g.: https://data.ptt-archiv.ch/archive/record/78467

here the identifier in the source csv ist `02-1-02` and then mapped as `2002/01/02`
see also the corresponding sparql query https://api.triplydb.com/s/55gsv0Bip

[2022-05-10 12:33] PlekszyGladz opened #80 "title of parent record is missing on detail page"
![image](https://user-images.githubusercontent.com/5487333/167629257-eaf24f19-d8e2-4bcd-9ad8-874595144ea2.png)

[2022-05-12 08:59] PlekszyGladz commented on #65
Cases with "\n" instead of newlines: https://api.triplydb.com/s/VzE2dSXZ2

[2022-05-12 09:06] ktk commented on #65
Replace `\n` with `\n` in a regex, that should probably work. Escaping is key

[2022-05-12 09:25] ktk commented on #67
* At the moment a `rico:RecordSet` links to an `rico:Instantiation` that then again has a `rdfs:seeAlso`, example: https://s.zazuko.com/2DddHS
* This `rdfs:seeAlso` has to be removed at this level
* and a new `rico:Instantiation` needs to be created that is also linked from `rico:RecordSet`  via `rico:hasInstantiation`
* The new  `rico:Instantiation` is also a `premis:Representation`
* the IRI is

[2022-05-12 09:28] ktk commented on #78
Looks like the only property with dates in it is `http://rdaregistry.info/Elements/m/dateOfPublication`. This should be converted using the generic date parser and create proper intervals.

[2022-05-12 09:31] ktk commented on #78
List of distinct types: https://pastebin.com/VdnZ3vRv

[2022-05-17 11:42] ktk commented on #78
Implemented with the following restriction, the regex that needs to match before the conversion is called is: `/^(\d{4})(-\d{4})?$/`

So everything that does not have the form `YYYY` or `YYYY-YYYY` is ignored for the moment.

[2022-05-17 11:44] ktk opened #81 "Remove empty instantiations"
That used to be/is fixed but for some reasons it fails on the new pipeline.

Also we still seem to have IRIs with `//` in it at some point.

[2022-05-17 12:06] PlekszyGladz commented on #65
needs to be reviewed in the store... @ktk

[2022-05-17 12:11] PlekszyGladz commented on #78
I will see into the special dates and ping you with news

[2022-05-17 12:23] PlekszyGladz commented on #79
https://gitlab.zazuko.com/amos/amos/-/blob/dev/mappings/mapping-record.xrm#L12

[2022-05-17 12:28] PlekszyGladz commented on #69
@PlekszyGladz gives some usecases to extract slow queries.
@ktk runs profiler on queries

[2022-05-19 07:13] #29 closed, assigned to tpluscode

[2022-05-25 12:42] tpluscode commented on #80
Have we changed how the data is prepared @ktk? Or maybe this never displayed correctly @PlekszyGladz

Until now the template assumed that the `rico:name` of record sets was an `rdf:langString`. Currently, because no tagged literals are found, nothing is displayed.

I can fall back to plain literal in such case but maybe tagged literal should not be expected at all?

[2022-05-25 13:18] PlekszyGladz commented on #80
I'm quite sure, that it displayed initially - but i might also be wrong ;) The `rico:name` has no language tag, because we have some french titles in our records

@tpluscode at the moment, nothing is displayed at all. The detail page just shows the blank template. Can you check what is broken?

[2022-05-25 14:23] tpluscode commented on #80
Sorry about that. Deploying now

[2022-05-25 15:03] PlekszyGladz commented on #80
perfect! seems to work now

[2022-05-25 15:03] #80 closed, assigned to tpluscode

[2022-05-31 11:11] #38 closed, assigned to ktk, PlekszyGladz

[2022-05-31 11:14] PlekszyGladz opened #82 "No results are shown in result list"
might be related to the stardog verison? @ludovicm67

[2022-05-31 11:23] PlekszyGladz commented on #69
@ktk can you give a short update here

[2022-05-31 11:29] #79 closed, assigned to ktk

[2022-05-31 11:38] PlekszyGladz commented on #82
@ludovicm67 seems to be fixed by deleting the duplicated graph

[2022-05-31 11:38] #82 closed, assigned to ludovicm67

[2022-05-31 13:29] PlekszyGladz commented on #78
For now, I propose to only work with dates that can be more or less easily interpreted (and leave the 'weird' ones for later. They might need some cleanup anyways):

@ktk some general rules for creating the intevals (based on the pastebin above):
- Brackets `(`,`)`,`[` and `]` can be ignored.
- Treat like a single date, if one half of an interval is:
  - missing (`1958-`)
  - or uninterpretable (`

[2022-06-01 08:23] PlekszyGladz commented on #81
I checked the data for the cause of this.

- currently instantiation-IRI are as follows: https://data.ptt-archiv.ch/archive/instantiation/{AIPReferenz}
- There are no empty instantiations but rather one 'generic' one: https://data.ptt-archiv.ch/archive/instantiation/
- This is due to the fact that in scopeArchive we can link files without writing an AIP (archival information package) into the long

[2022-06-02 12:34] PlekszyGladz commented on #69
I updated the initial post with more information about what takes to long

[2022-06-07 09:41] PlekszyGladz opened #83 "show link to the swisscovery portal on the detail page for library records"
- library records (`rdac:Work`) have links to an external catalog (`rdfs:seeAlso`)
- the link should be displayed on the detail page with the following text: "Diesen Eintrag auf Swisscovery anschauen"
![image](https://user-images.githubusercontent.com/5487333/172356910-5a48196d-e1e3-4b30-9e55-582c7b47d28b.png)

[2022-06-07 10:48] PlekszyGladz opened #84 "show proper labels instead of GND-links"
- Some creators of library records are links to GND
- instead of these links the proper label should be displayed

Example: https://data.ptt-archiv.ch/library/manifestation/9959357890105527

this records shows https://d-nb.info/gnd/108639710X as the creator. Instead it should read "Verlagsgesellschaft Beobachter" (as can be found as `gndo:preferredNameForTheCorporateBody` under https://d-nb.info/g

[2022-06-09 11:30] tpluscode commented on #50
Technically the hierarchy sorting is up but any record without parents (such as all of library but also some archive records) will appear on top. That is probably not the desired effect

@PlekszyGladz we have two options:

1. Implicitly filter out results without a hierarchy when sorting. In other words only show those that do.
2. Sort so that anything with missing hierarchy string will be at the

[2022-06-09 16:08] l00mi opened #85 "Deploy new component"
No, it's not deployed for now. It's still using the dedicated app for now.
You can create a dedicated issue and assign it to me if so that we can track this.

_Originally posted by @ludovicm67 in https://github.com/zazuko/issues-private/issues/76#issuecomment-1151136325_

[2022-06-13 12:29] PlekszyGladz commented on #50
@tpluscode thx for the update

I think the second option is better. (Especially for queries that yield only a small number of results containing some library records)

[2022-06-13 21:00] ludovicm67 commented on #85
Done!

[2022-06-13 21:00] #85 closed, assigned to ludovicm67

[2022-06-14 06:58] ktk commented on #67
I am not completely sure which namespace to use for `premis`, looks like there are at least 3 out in the wild. For the moment I settle on `http://www.loc.gov/premis/rdf/v3/`.

[2022-06-14 09:37] ktk commented on #67
Our example was not fully correct so I had to draw how to do it to understand it. I think it's now as it should be but we should validate and review that before Tom adopts the UI.

It's active in branch https://gitlab.zazuko.com/amos/amos/-/tree/manifest-refactor, which seems to build fine.

[2022-06-14 12:34] ktk commented on #78
WIP:

Design goal: we get one or more capture groups that represent a 4-digit year to pass to the date function

[code]

[2022-06-16 08:04] PlekszyGladz commented on #50
sorting by hierarchy is still not properly working as seen in this example:
![image](https://user-images.githubusercontent.com/5487333/174022773-74ee46b9-ddd4-4fdc-8632-58b097c8588f.png)
The three marked records from "Sammlungen und Nachlässe" should be grouped together and ordered the other way around

[2022-06-16 08:06] #43 closed, assigned to ktk, tpluscode

[2022-06-16 08:09] PlekszyGladz opened #86 "Wrong results for fulltext queries"
When entering fulltext queries, some wrong results are shown. This can be reproduced for example by searching for identifiers like "P-260-1" which should match with about 570 records but instead lists over 58k.

I highlited two of the wrong results. They don't contain the query on any of their properties.
![image](https://user-images.githubusercontent.com/5487333/174024290-de6570fb-dd9c-4412-a512-

[2022-06-16 08:16] PlekszyGladz opened #87 "Setup integration environment"
Create an integration environment to test new features before deploying them to prod.

[2022-06-24 08:54] ktk commented on #81
- [x] Move all IRI templates to a separate file and give them an alias so we can use them in the mappings
- [x] Replace `AIPReferenz` with `ID` where appropriate
- [ ] Create a SPARQL query that fetches all `Instantiation`s that are "empty", in terms of they don't have predicates attached and delete them on the insert step in the pipeline

[2022-06-27 13:08] tpluscode commented on #50
Please see now @PlekszyGladz. Every page of results should have proper display order

[2022-07-05 12:24] ludovicm67 opened #88 "Fix build_archive_iiif step in the pipeline"
Currently, the `build_archive_iiif` step in the GitLab pipeline is failing.

I will try to provide a fix for it.

[2022-07-05 12:28] ludovicm67 opened #89 "Fix broken IIIF manifests"
We have a Trifid plugin who is in charge of building the right IIIF manifest.
But we currently have some issue: they look broken.

When I investigated last time, the issue was coming from the way the triplestore was handling the blank nodes.
`CLEAR` the graph, triggering the pipeline again and clearing the cache was solving the issue last time.

Maybe using `PUT` instead of `POST` when writing in

[2022-07-05 12:36] ktk commented on #89
That's probably because bnode IDs are preserved right now on the amos DB, so we create clashes if we re-use IDs. This can be fixed by taking the DB offline, change the `preserve.bnode.id` setting to off & re-write the data (after a clear).

See https://docs.stardog.com/operating-stardog/database-administration/database-configuration#preservebnodeids

[2022-07-05 12:38] PlekszyGladz commented on #81
- Refactored IRIs and changed `AIPReferenz` to `ID` where needed
- Also removed some mappings that are better created as some static triples (I added them here: https://gitlab.zazuko.com/amos/amos/-/tree/issue-81/static)

[2022-07-05 12:40] PlekszyGladz opened #90 "create static triples in pipeline"
Triples in `.ttl`-files in https://gitlab.zazuko.com/amos/amos/-/tree/issue-81/static should be added to the pipeline

[2022-07-05 13:13] ludovicm67 commented on #87
Two instances:
- PROD: deployed on each SemVer tag ; URL: https://data.ptt-archiv.ch/
- INTEG: deployed on each commit on the `master` branch, no cache ; URL: https://data-ptt-archiv.zazukoians.org/

For INTEG we only need to push the data in the test database.

[2022-07-05 13:15] PlekszyGladz commented on #73
works but is not yet deployed.
also url shortening would be nice

[2022-07-05 15:03] ludovicm67 commented on #88
Fixed, by doing the following:

- 2 concurrent request to the IIIF server instead of 8, to avoid spamming the IIIF server
- implement a retry mechanism for fetching IIIF information from the IIIF server
- show warning if issues with thumbnails instead of crashing the full job

This can be closed, since it's now working.

[2022-07-05 15:35] ludovicm67 commented on #89
The setting is already `off`, so this is not the issue.
Maybe the fault of some old data?
I will clear everything in that database and deploy everything back there by running the `deploy` step from the pipeline.

[2022-07-05 16:08] ludovicm67 commented on #89
It's now able to generate working manifests again.

[2022-07-06 05:43] tpluscode opened #91 "Records with no title"
We found that there are some records which do not have a title: https://s.zazuko.com/7H43Jj

[2022-07-06 07:07] #88 closed, assigned to ludovicm67

[2022-07-06 07:30] PlekszyGladz commented on #91
I checked those records in scope and fixed the missing titles.
Once the new export is ready for the pipeline (probably tomorrow) this should be fixed.

[2022-07-06 07:36] #89 closed, assigned to ludovicm67

[2022-07-19 12:32] #50 closed, assigned to tpluscode

[2022-07-20 07:41] #87 closed, assigned to ludovicm67

[2022-07-20 08:00] PlekszyGladz commented on #73
Works fine and can be deployed to PROD

[2022-07-20 08:00] #73 closed, assigned to tpluscode, PlekszyGladz

[2022-07-29 10:01] PlekszyGladz commented on #91
The verify step still fails (https://gitlab.zazuko.com/amos/amos/-/jobs/22430). But there are no records without titles anymore in the source CSV. Is the verify step checking the correct data? If I select https://data-ptt-archiv.zazukoians.org/query as the endpoint it does not have empty titles anymore: https://s.zazuko.com/g3zP5t

[2022-08-02 13:14] PlekszyGladz opened #92 "Broken Deployment"

[2022-08-02 13:32] PlekszyGladz commented on #84
@PlekszyGladz passes some more examples of such gnd links
@tpluscode tries to load the ifno dynamically in the ui

[2022-08-02 15:33] tpluscode commented on #84
We cannot do direct requests for the GND resources because they are served without necessary CORS headers.

We'll have to fetch them in the pipeline

[2022-08-03 15:20] tpluscode commented on #92
Turns out it was just long-lived cache 😅

[2022-08-03 15:20] #92 closed, assigned to tpluscode, PlekszyGladz, ludovicm67

[2022-08-31 13:18] tpluscode commented on #84
I tried contacting DNB to see if we can ask them to amend their CORS setup but got no reply.

Some of the records we publish link to resources published on the [d-nd.info](http://d-nd.info/) domain. We have been tasked with sourcing data from DNB.

Tomasz Pluskiewicz

[2022-08-31 13:49] PlekszyGladz commented on #69
@l00mi @ktk @PlekszyGladz discuss the next possible steps here:
- elastic search?
- optimising queries? (maybe in coopeartion with stardog)
- beefier SPARQL-Endpoint

[2022-08-31 13:51] PlekszyGladz commented on #86
general escaping of signature ist not possible. so best we add a checkbox, when checked the entered search terms are fully matched and not searched with lucene

[2022-08-31 13:52] PlekszyGladz opened #93 "Review and fix SPARQL-Proxy for INTEG-Environment"
this should not give a 404: https://data-ptt-archiv.zazukoians.org/library/manifestation/9959001070105527

[2022-08-31 13:56] PlekszyGladz commented on #84
For now we get the data from GND in the pipeline (either a separate or in the existing one) and add it to our data

[2022-09-01 09:16] ktk commented on #78
Check if we have one or more than one capture group, if so we have different start & end. Otherwise start & end will be the same in RDF.

[2022-09-01 09:17] #91 closed, assigned to PlekszyGladz

[2022-09-01 09:24] ktk commented on #90
* Create an additional step that sources all files in the directory `static`
* Concat them with all other data in the pipeline

[2022-09-01 09:28] ktk commented on #81
Double check after #90 is done

[2022-09-01 09:34] ktk commented on #81
It could also be that we now generate IRIs that do not have any tripples attached.

WIP But not yet correct SPARQL query: https://s.zazuko.com/2zakEC

[2022-09-05 09:53] ludovicm67 commented on #93
I provided a fix, it should now work as expected.

[2022-09-13 14:38] PlekszyGladz commented on #83
@tpluscode looks good and can be commited to the production environment

[2022-09-13 14:38] #83 closed, assigned to tpluscode

[2022-09-14 14:02] #93 closed, assigned to ktk, ludovicm67

[2022-09-14 14:28] ktk commented on #84
Twitter conversation with GND: https://twitter.com/linkedktk/status/1566792299446771714

[2022-09-14 16:09] PlekszyGladz commented on #77
the respective fedlex entry is now added to the 30 and 50 years term of protections

[2022-09-14 18:03] ktk commented on #90
Merged to `dev` now.

[2022-09-14 18:04] ktk commented on #84
According to GND they work on it https://twitter.com/gndnet/status/1570061913366712327

[2022-09-14 19:49] ktk commented on #78
This is the test code, might be useful in case we have to extend or fix stuff:

[code]

[2022-09-18 15:45] ktk commented on #78
I've integrated it but it fails pretty quick with undefined values, need to investigate. https://gitlab.zazuko.com/amos/amos/-/tree/date

[2022-10-17 11:45] #54 closed, assigned to l00mi

[2022-10-17 11:47] #69 closed, assigned to ktk, PlekszyGladz

[2022-10-17 11:50] #86 closed, assigned to tpluscode

[2022-10-17 12:02] #52 closed, assigned to PlekszyGladz

[2022-10-17 12:05] #70 closed, assigned to nobody

[2022-10-17 12:06] #75 closed, assigned to nobody

[2022-10-17 12:06] #63 closed, assigned to nobody

[2022-10-17 12:06] #56 closed, assigned to tpluscode

[2022-10-17 12:09] #58 closed, assigned to nobody

[2022-10-17 12:09] #55 closed, assigned to nobody

[2022-10-17 12:09] #23 closed, assigned to ktk, PlekszyGladz

[2022-10-17 12:10] dabo505 opened #94 "Decide on the Data to be added to the manifest from the Archive Database."

[2022-10-17 12:11] #22 closed, assigned to nobody

[2022-10-17 12:11] #26 closed, assigned to nobody

[2022-10-17 12:12] #30 closed, assigned to nobody

[2022-10-17 12:12] #31 closed, assigned to nobody

[2022-10-17 12:13] #32 closed, assigned to nobody

[2022-10-17 12:13] #33 closed, assigned to nobody

[2022-10-17 12:14] #35 closed, assigned to nobody

[2022-10-17 12:14] #6 closed, assigned to nobody

[2022-10-17 12:16] dabo505 opened #95 "Geo referencing"

[2022-10-17 12:16] dabo505 opened #96 "Machine translation"

[2022-10-17 12:16] dabo505 opened #97 "Improve RiC-O"

[2022-10-27 04:55] ktk commented on #78
It now works for the regexes we defined but these dates are still in there:
[code]

[2022-10-27 08:21] ktk commented on #78
It looks like the date-converter function assumes something on the subject IRI that is not the case for the library data, we seem to get all the dates attached to two single subjects:

[code]

[2022-10-27 08:49] ktk commented on #81
It looks like we do have triples generated in the pipeline so we need to double check if we can skip that in the pipeline already or if we have to clean up via sparql in the end:

[code]